body {
  background-color: #fe6182;
  height: 800px;
}

.player {
  height: 600px;
  width: 450px;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-225px);
          transform: translateX(-225px);
  background-color: #111;
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5), 0px 0px 40px 0px rgba(0,0,0,0.4);
}

.infos {
  position: absolute;
  top: 30px;
  text-align: center;
  margin: 10px;
}

.info {
  margin: 20px;
}

.title {
  font-size: 22px;
  color: #ddd;
}

.artist {
  font-size: 18px;
  color: #aaa;
}

.album {
  font-size: 14px;
  color: #666;
}

.center {
  margin: auto;
  width: 100%;
  text-align: center;
}

#button_bar {
  position: absolute;
  top: 230px;
}

#volume_bar {
  position: absolute;
  top: 350px;
}

.block {
  display: inline-block;
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button {
  width: 80px;
  height: 60px;
  border: none;
  background-color: #fe6182;
  color: #ddd;
  font-weight: bold;
}

#progress_bar_background {
  position: absolute;
  top: 500px;
  width: 100%;
  max-width: 450px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress_bar_colored{
  position: absolute;
  left: 0px;
  height: 20px;
  background: #fe6182;
}

/* Define the slider width so that it scales properly */
.volume_slider_container {
  position: absolute;
  top: 380px;
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fe6182;
}

/* Modify the appearance of the slider */
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #fe6182;
  color: #fe6182;
}


input[type='range'] {
  background-color: #fe6182;
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #fe6182;
  box-shadow: 0px 0 0 4px #fe6182;
}
 
.volume_slider {
  width: 60%;
  color: #fe6182;
  background: #fe6182;
}
 
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
  color: #fe6182;
}
 
/* Change the mouse cursor to a pointer
   when hovered over */
i.fa-play,
i.fa-pause,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}
