<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MOCP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="background">
      <div class="player">
        <div class="infos">
            <div class="title info">
              {{ infos.title }}
            </div>
            <div class="artist info">
              {{ infos.artist }}
            </div>
            <div class="album info">
              {{ infos.album }}
            </div>
        </div>
        <div class="center" id="button_bar">
          <div class="block">
            <form action="/previous_song" method="POST">
              <button class="button">
                <i class="fa fa-step-backward fa-2x"></i>
              </button>
            </form>
          </div>
          <div class="block">
            <form action="/toggle_pause" method="POST">
              <button class="button">
                {% if infos.is_playing %}
                  <i class="fa fa-pause fa-2x"></i>
                {% else %}
                  <i class="fa fa-play fa-2x"></i>
                {% endif %}
              </button>
            </form>
          </div>
          <div class="block">
            <form action="/next_song" method="POST">
              <button class="button">
                <i class="fa fa-step-forward fa-2x"></i>
              </button>
            </form>
          </div>
        </div>
        <div id="progress_bar">
          <div id="bar"></div>
        </div>
        <div class="slider_container">
          <i class="fa fa-volume-down"></i>
          <input type="range" min="1" max="100"
            value="{{ infos.volume }}" class="volume_slider" onchange="sendVolume()">
          <i class="fa fa-volume-up"></i>
        </div>
      </div>
    </div>
    <script>
      var total_time = {{ infos.total_time|int }};
      var current_time = {{ infos.current_time|int }};

      let volume_slider = document.querySelector(".volume_slider");

      function sendVolume() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/set_volume", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({volume: volume_slider.value}));
      }

      function updateBar() {
        let elem = document.getElementById("bar");
        let width = 100 * (current_time / total_time) + "%";
        elem.style.width = width;
      }

      updateBar();

      setTimeout(function() {
        window.location.reload(1);
        updateBar();
      }, 2000);

    </script>
  </body>
</html>
