<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MOCP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="background">
      <div class="player">
        <div class="infos">
            <div class="title info">
              {{ infos.title }}
            </div>
            <div class="artist info">
              {{ infos.artist }}
            </div>
            <div class="album info">
              {{ infos.album }}
            </div>
        </div>
        <div class="center" id="button_bar">
          <div class="block">
            <form action="/previous_song" method="POST">
              <button class="button">
                Previous
              </button>
            </form>
          </div>
          <div class="block">
            <form action="/toggle_pause" method="POST">
              <button class="button">
                {% if infos.is_playing %}
                  Pause
                {% else %}
                  Play
                {% endif %}
              </button>
            </form>
          </div>
          <div class="block">
            <form action="/next_song" method="POST">
              <button class="button">
                Next
              </button>
            </form>
          </div>
        </div>
        <div class="center" id="volume_bar">
          <div class="block">
            <form action="/volume_down" method="POST">
              <button class="button">
                Down
              </button>
            </form>
          </div>
          <div class="block">
            <form action="/volume_up" method="POST">
              <button class="button">
                Up
              </button>
            </form>
          </div>
          <div class="block">
              <button class="button">
                {{ infos.volume }}%
              </button>
          </div>
        </div>
        <div id="progress_bar">
          <div id="bar"></div>
        </div>
      </div>
    </div>
    <script>
      var total_time = {{ infos.total_time|int }};
      var current_time = {{ infos.current_time|int }};

      function updateBar() {
        let elem = document.getElementById("bar");
        let width = 100 * (current_time / total_time) + "%";
        elem.style.width = width;
      }

      updateBar();

      setTimeout(function(){
        window.location.reload(1);
        updateBar();
      }, 2000);

    </script>
  </body>
</html>
